<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
            I am a department manager on one fin-tech company, have spent over 8 years on persistent products(Including open source db and message queues like postgres/mariadb/kafka/pulsar). After
getting experience of these products, I continue to work on the consolidation of these products.<br/></br>
. 
		</div>
		<br>
	</div>
</div>
